h1, h2 {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 600px) {
  .parallax-container {
      height: 250px;
  }
}

/* Header */

#head_container nav{
  height: 100px;
  display: flex;
  align-items: center;
}

#head_container img {
  height: 100px;
}

#head_container a,  #head_container .sidenav li>a{
  color: rgba(0,0,0,0.7);
  text-decoration: none;
  margin: 0px 20px;
  font-size: 25px;
  line-height: 0;
  padding: 0;
  font-weight: normal;
}

#logo {
  margin: auto 20px !important;
}

#head_container a:hover, #head_container .sidenav li>a:hover{
  color: black;
  background-color: white;
}

#head_container .sidenav-trigger {
  margin-left: auto;
}

#dropdown1  {
  width: 200px !important;
  height: 302px !important;
}

#dropdown1 a {
  margin-top: 24px;
}

@media only screen and (min-width: 851px) {
  #head_container .sidenav-trigger {
    display: none;
  }

  #head_container .dropdown-trigger {
    display: flex;
    align-items: center
  }

}

@media only screen and (max-width: 850px) {
  #head_container nav a, #dropdown1 {
    display: none !important;
  }
  #head_container .sidenav-trigger, #logo {
    display: inline !important;
  }
}

#head_container .sidenav .user-view{
  display: flex;
  justify-content: center;
  margin: 30px 0px;
  padding: 0px;
}

#head_container .material-icons {
  font-size: 30px;
}

/* Quarantäne */

#quaran_imgs {
  width: 80%;
  margin: auto;
}

#quaran_con .collapsible {
  margin: auto;
  width: 80%;
}

#quaran_imgs .card {
  max-width: 700px;
  margin: 25px auto;
}

#quaran_imgs .card-image {
  max-width: 700px;
}

#quaran_imgs .card-content{
  font-size: 20px;
}

.card {
  display: grid;
  grid-template-rows: auto auto auto;
  justify-items: center;
}

#quaran_table {
  overflow-x: scroll;
}

#quaran_con table img {
 height: 200px;
 margin: auto;
 display: flex;
}

.card_img > div{
  height: 100%;
  display: flex;
}

.card_img img {
  object-fit: cover;
}

/* Index */

#one img{
  width: 100%;
  object-fit: cover;
}

#two {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  padding: 5%;
}

#two div {
  width: 100%;
  font-size: 20px;
  display: block;
  margin: auto;
  padding: 5% 0%;
}

#two img {
  width: 100%;
  padding: 5% 15%;
}


@media only screen and (min-width: 1001px) {
  
  #two {
    grid-template-columns: 33.3% 33.4% 33.3%;
  }


  #text1 {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 3;
  }

  #text2 {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-column-end: 4;
  }

  #text3 {
    grid-row-start: 3;
    grid-column-start: 1;
  }

  #item1 {
    grid-column-start: 3;
    grid-row-start: 1;
  }

  #item2 {
    grid-column-start: 1;
    grid-row-start: 2;
  }

  #item3 {
    grid-column-start: 2;
    grid-row-start: 3;
    grid-column-end: 4;
  }
}

#gotoTwo {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
}


#korea_map {
  width: 100%;
  height: 500px;
}

@media only screen and (min-width: 1001px) {
  
  #korea_map {
    height: 700px;
  }
}
/* Seoul Old */

#seoul-con h1 {
  margin: 20px auto;
  width: 80%
}
  
#seoul-con .collapsible {
  margin: auto;
  width: 80%;
}

#seoul-con .section .header {
  display: flex;
  color: black;
  align-items: center;
}

#seoul-con .section a {
  max-width: 100%;
}

/* Seoul */

#seoul_k-con .collapsible {
  margin: 20px auto;
  width: 80%;
}

.seoul_k a {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
}

.seoul_k a img {
  width: 100%;
  transition: transform 1s, filter 1s ease-in-out;
  filter: blur(4px);
  object-fit: cover;
  
}

.seoul_k a:hover img {
  transform: scale(1.1);
  filter: blur(0px);
}

.seoul_k-text {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#seoul_map {
  width: 100%;
  height: 400px;
}

/* Seoul_f */

#seoul_f-con {
  max-width: 1000px;
  margin: auto;
}

#seoul_f-con h1 {
  width: 80%;
  margin: 20px auto;
}

#seoul_f-con p {
  width: 80%;
  margin: auto;
}

#seoul_f-img img, #seoul_f-img iframe, .seoul_f_map {
  width: 80%;
  margin: 25px auto;
}

#seoul_f-img iframe, .seoul_f_map {
  height: 500px;
  display: block;
}

@media only screen and (max-width: 600px) {
  #seoul_f-img iframe, .seoul_f_map  {
    height: 250px;
  }
}

#seoul_f-img .hk{
  width: 55%;
}

#unterartikel {
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: 20px;
  margin-bottom: 75px;
}

/* Kategorien */

#kat-con .section .header {
  display: flex;
  color: black;
  align-items: center;
}

#kat-con .collapsible {
  margin: 20px auto;
  width: 80%;
}

/* Uni */

#uni-con {
  width: 80%;
  margin: auto;
}

#uni-con .collapsible {
  margin: auto;
  width: 80%;
}

#uni-con .card {
  max-width: 700px;
  margin: 25px auto;
}

#uni-con .card-image {
  max-width: 700px;
}

#uni-con .card-content{
  font-size: 20px;
}

/* Busan */

.busan_coll {
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}

/* Newsletter */


.nl_text, .nl_form {
  width: 80%;
  margin: auto;
}

.nl_text {
  margin-top: 20px;
  font-size: 20px;
}

.nl_form {
  margin-bottom: 40px;
}

.nl_button {
  background: white;
  padding: 8px;
  font-size: 20px;
  border: 2px solid black;
}

.nl_button:hover {
  cursor: pointer;
}
.nl_button:focus {
  background: white;
}

.nl_btn_bad, .nl_btn_bad:focus {
  background: red;
  color: white;
  border: red 1px solid;
}

.nl_info {
  color: white;
  height: 60px;
  display: flex;
  align-items: center;
  font-size: 20px;
  padding-left: 10px;
}

.nl_form input, .nl_ta {
  font-size: 20px !important;
}


/* City View */

#city_view_img {
  width: 100%;
  margin: auto;
}

#city_view_img img {
  width: 95%;
  display: block;
  margin: 25px auto;
}


/* Footer */

#footer {
  color: rgba(0, 0, 0, .5);
  text-align: center;
  margin-top: 10px;
  padding: 5px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}